LOCATE COMP "btn_send_n" SITE "E3";
IOBUF PORT "btn_send_n" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "led_reproducao_n" SITE "C2";
IOBUF PORT "led_reproducao_n" IO_TYPE=LVCMOS33;

LOCATE COMP "led_envio_n" SITE "C1";
IOBUF PORT "led_envio_n" IO_TYPE=LVCMOS33;

LOCATE COMP "led_grava_n" SITE "D2";
IOBUF PORT "led_grava_n" SLEWRATE=SLOW IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

LOCATE COMP "reset_n" SITE "D1";
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "uart_tx" SITE "E2";
IOBUF PORT "uart_tx" SLEWRATE=FAST DRIVE=8 IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rx" SITE "A3";
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 PULLMODE=UP;
